<nav class="navbar navbar-expand-lg navbar-dark bg-dark row" >
  <a class="navbar-brand card-title" routerLink="converter">  Kham Mangar</a>
  <button class="navbar-toggler" type="button" (click)="toggleNavbar()" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent" [ngClass]="{'show': navbarOpen }">
    <ul ngbNav routerLinkActive="active">
      <li class="btn" ngbNavItem="converter">
        <a class="nav-link btn-dark btn-outline-light" routerLink="converter" >Converter</a>
      </li>
      <li class="btn" ngbNavItem>
        <a class="nav-link btn-dark btn-outline-light" routerLink="table" >Table</a>
      </li>
      <li class="btn" ngbNavItem>
        <a class="nav-link btn-dark btn-outline-light " routerLink="about" >About</a>
      </li>
      <li class="btn" ngbNavItem>
        <a class="nav-link btn-dark btn-outline-light " routerLink="page-not-found" >Free Money</a>
      </li>
    </ul>
  </div>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>

