<nav class="navbar navbar-expand-lg navbar-dark bg-info " >
  <a class="navbar-brand" href="#">Currency Converter App</a>
  <button class="navbar-toggler" type="button" (click)="toggleNavbar()" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent" [ngClass]="{'show': navbarOpen }">
    <ul ngbNav routerLinkActive="active">
      <li ngbNavItem="converter">
        <a class="nav-link btn-info" routerLink="converter" >Converter</a>
      </li>
      <li ngbNavItem>
        <a class="nav-link btn-info" routerLink="table" >Table</a>
      </li>
      <li ngbNavItem>
        <a class="nav-link btn-info" routerLink="about" >About</a>
      </li>
    </ul>
  </div>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>

