<nav class="navbar navbar-expand-lg navbar-dark bg-info " >
  <button class="navbar-toggler" type="button" (click)="toggleNavbar()" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent" [ngClass]="{'show': navbarOpen }">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active ">
        <a class="nav-link font-weight-bold align-content-center" href="converter" >  Currency Converter App
          <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item disabled ">
        <a class="nav-link font-weight-bold align-content-center" href="../app/components/page-not-found/page-not-found.component.html" >About
          <span class="sr-only">(current)</span></a>
      </li>
    </ul>
  </div>
</nav>

<app-converter></app-converter>

